<!DOCTYPE html>
<html>
<head>
  <title>TaskMan</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% if mobile_device? %>
    <%= link_to "Full Site", :mobile => 0 %>
  <% else %>
    <%= link_to "Mobile Site", :mobile => 1 %>
  <% end %>

<%= yield %>

</body>
</html>
